doctype html
html(lang="fr")
    head
    title="monsite"
    body
        each nom in user 
            p="bonjour " + nom.username

        if (logged)
            p="ERREUR ! Vous êtes déjà connecté."
        else
            form(action="/inscriptionadd" method="POST")
                input(type="text" name="username" placeholder="username")
                input(type="text" name="address" placeholder="mail address")
                input(type="password" name="secretcode" placeholder="secret code") 
                input(type="submit" value="Envoyer les données")
                if (nopasswd)
                    p="Veuillez renseigner un mot de passe"
                if (shortUsername)
                    p="Veuillez entrer un pseudonyme de plus de 4 caractères"
                if (nomail)
                    p="Mail invalid"
