extends layout
block body
    header
        if (user_id)
            p(style="display: none", id="user_id")=user_id
        nav(style="max-width:1580px,text-align:center")
            div.row.align-items-left.py-2
                div.col-1
                    img(src="../images/logo.png",style="margin-left:10px")
                div.col.2(style="text-align:left")
                    h4.text-muted.m-0="Bluedit"
                div.col.d-flex.justify-content-end

                    ul.nav.nav-pills
                        if (logged)
                            if (admin) 
                                p="Miko"
                            else
                                p="It's Lunatic Tiiiiiiime"
                        else
                            li.nav-item
                                a.nav-link.active(href="http://localhost:3000/authen")="Log in"
                            li.nav-item
                                a.nav-link.active(href="http//localhost:3000/inscription")="Sign up"

    section
        div.container.bg-dark.text-light.py-3(style="border-radius:4px;")
            div(style="width:40px")
                p(style="margin-bottom:0px;padding-left:5px;margin-top:6px;float:left", id="votes"+lien.id+"0")=lien.votes
                if(lien.upvoted)
                    img(style="float: left;",src="../images/upvote_2.png", onclick='sendVote('+lien.id+',0,0,1)', id=lien.id+'0U', alt="D")="D" 
                else
                    img(style="float: left;",src="../images/upvote.png", onclick='sendVote('+lien.id+',0,1,1)', id=lien.id+'0U', alt="U")="U"
                        
                        
                if (lien.downvoted)
                    img(style="float: left;",src="../images/downvote_2.png", onclick='sendVote('+lien.id+',0,1,0)', id=lien.id+'0D', alt="U")="U"
 
                else
                    img(style="float: left;",src="../images/downvote.png", onclick='sendVote('+lien.id+',0,0,0)', id=lien.id+'0D', alt="D")="D"
            div(style="width:auto;padding-left:60px;background-color='#222222';")
                div.row
                    p(style="font-size:10pt;margin-bottom:0px;padding-right:0px;width:max-content;")="posté par "+lien.authorName
                    img(style="width:30px;padding:0;padding-left:10px",src="../images/edit.png", onclick='edit('+lien.id.toString()+',0)', id='edit'+lien.id.toString()+'0-'+lien.user_id.toString())
                    img(style="width:30px;padding:0;padding-left:10px;",src="../images/delete.png", onclick='del('+lien.id.toString()+',0)', id='delete'+lien.id.toString()+'0-'+lien.user_id.toString())
                div.row
                    p(style="font-size:14pt;")=lien.Title
                    
                div.row
                    !{lien.Content}
        
            if (msg)
                if (msg.non_iterable)
                    ul
                        div(style="width:40px;padding-top:20px;")
                            p(style="margin-bottom:0px;padding-left:5px;margin-top:6px;float:left", id="votes"+lien.id.toString()+msg.id.toString())=msg.votes
                            if(msg.upvoted)
                                img(style="float: left;",src="../images/upvote_2.png", onclick='sendVote('+lien.id+','+msg.id+',0,1)', id=lien.id.toString()+msg.id.toString()+'U', alt="D")="D" 
                            else
                                img(style="float: left;",src="../images/upvote.png", onclick='sendVote('+lien.id+','+msg.id+',1,1)', id=lien.id.toString()+msg.id.toString()+'U', alt="U")="U"
                        
                        
                            if (msg.downvoted)
                                img(style="float: left;",src="../images/downvote_2.png", onclick='sendVote('+lien.id+','+msg.id+',1,0)', id=lien.id.toString()+msg.id.toString()+'D', alt="U")="U"
 
                            else
                                img(style="float: left;",src="../images/downvote.png", onclick='sendVote('+lien.id+','+msg.id+',0,0)', id=lien.id.toString()+msg.id.toString()+'D', alt="D")="D"
                        div(style="width:auto;padding-left:60px;background-color='#222222';")
                            div.row
                                p(style="font-size:10pt;margin-bottom:0px;width:max-content;")="posté par "+msg.authorName
                                img(style="width:30px;padding:0;padding-left:10px",src="../images/edit.png", onclick='edit('+lien.id.toString()+',0)', id='edit'+lien.id.toString()+msg.id.toString()+'-'+msg.user_id.toString())
                                img(style="width:30px;padding:0;padding-left:10px;",src="../images/delete.png", onclick='del('+lien.id.toString()+',0)', id='delete'+lien.id.toString()+msg.id.toString()+'-'+msg.user_id.toString())

                            div.row
                                !{msg.Content}
  
                else
                    each ms in msg
                        ul
                            div(style="width:40px")
                                p(style="margin-bottom:0px;padding-left:5px;margin-top:6px;float:left", id="votes"+lien.id.toString()+ms.id.toString())=ms.votes
                                if(ms.upvoted)
                                    img(style="float: left;",src="../images/upvote_2.png", onclick='sendVote('+lien.id+','+ms.id+',0,1)', id=lien.id.toString()+ms.id.toString()+'U', alt="D")="D" 
                                else
                                    img(style="float: left;",src="../images/upvote.png", onclick='sendVote('+lien.id+','+ms.id+',1,1)', id=lien.id.toString()+ms.id.toString()+'U', alt="U")="U"
                        
                        
                                if (ms.downvoted)
                                    img(style="float: left;",src="../images/downvote_2.png", onclick='sendVote('+lien.id+','+ms.id+',1,0)', id=lien.id.toString()+ms.id.toString()+'D', alt="U")="U"
 
                                else
                                    img(style="float: left;",src="../images/downvote.png", onclick='sendVote('+lien.id+','+ms.id+',0,0)', id=lien.id.toString()+ms.id.toString()+'D', alt="D")="D"
                            div(style="width:auto;padding-left:60px;background-color='#222222';")
                            div.row
                                p(style="font-size:10pt;margin-bottom:0px;width:max-content;")="posté par "+msg.authorName
                                img(style="width:30px;padding:0;padding-left:10px",src="../images/edit.png", onclick='edit('+lien.id.toString()+',0)', id='edit'+lien.id.toString()+ms.id.toString()+'-'+ms.user_id.toString())
                                img(style="width:30px;padding:0;padding-left:10px;",src="../images/delete.png", onclick='del('+lien.id.toString()+',0)', id='delete'+lien.id.toString()+ms.id.toString()+'-'+ms.user_id.toString())

                            div.row
                                !{msg.Content}     




    script(type="text/javascript" src="../scripts/post.js") 
