extends layout
block body
    // a page to edit anytime we want to make some tests without breaking the rest of the website.
    // refered to as localhost:3000/test
    // no direct link should be refering it, and no redirections to it should exist.

    
    // try to define what a post will look like
    header
        nav(style="max-width:1580px;text-align: center")
            div.row.align-items-left.py-2
               div.col-1
                    img(src="images/logo.png")
                div.col.2(style="text-align:left")
                    h4.text-muted.m-0="Bluedit"
                div.col.d-flex.justify-content-end
                    
                    
                    ul.nav.nav-pills
                        if (logged)
                            if (admin)
                                p="ARTHAAAAAAAAS"
                            else
                                p="It's lunatic time"
                        else
                            li.nav-item
                                a.nav-link.active(href="http://localhost:3000/authen")="Log in"
                            li.nav-item
                                a.nav-link.active(href="http://localhost:3000/inscription")="Sign up"

 
    section
        div.container.bg-light.py-5.text-center.mb-3
            h1="Recent posts"
        if (logged)
            div.container.bg-dark.text-light.py-3
                div.row
                    div.col-9.col-lg-9.text-align-center
                        if (TitleError)
                            p="Erreur, titre invalide."
                        if (ContentError)
                            p="Erreur, contenu du post invalide."
                        form(action="/add",method="POST")
                            input(type="hidden",name="title",id="post_title",placeholder="Titre")
                            input(type="text", onclick="const title=document.getElementById('post_title'); title.type='text';", name="post",id="post_content",placeholder="Quoi de neuf ?")
                            input(type="submit" value="Envoyer")

        if (posts)
            each lien in posts
                div.container.bg-dark.text-light.py-3
                    // each post is one row
                    //lien
                        //id
                        //Title
                        //Content
                        //user_id references user.id
                        //votes

                    div.row
                        div.col-12.col-lg-1.text-align-center(style="width:3%;") 
                            //test to display votes
                            p(style="margin-bottom:0px;padding-left:5px;margin-top:8px;float:left;",id='votes'+lien.id+'0')=lien.votes
                            img(style="float: left;",src="images/upvote.png", onclick='sendVote('+lien.id+',0,1)', id=lien.id+'0U')="U"
                            img(style="float: left;",src="images/downvote.png", onclick='sendVote('+lien.id+',0,0)', id=lien.id+'0D')="D"
                           
                        div.col-12.col-lg-11
                            // title display
                            h1=lien.Title
                    div.row
                        // for content
                        div.col-9.col-lg-1
                        div.col-9
                            p !{lien.Content}
                    if (response)
                        each message in response
                            if (message.lien_id == lien.id)
                                div.row
                                    div.col-9.col-lg-1
                                    div.col-9.col-lg-1.text-align-center

                                        p=message.votes
                                    div.col-9
                                        p !{message.Content} 
                        
                        div.row
                            div.col-9.col-lg-9
                                if (CommentError && CommentError_id==lien.id)
                                    p="Erreur, commentaire invalide"
                                form(action="/comment",method="POST")
                                    input(type="text",name="comment",placeholder="Répondre...")
                                    input(type="hidden",name="post_id",value=lien.id)
                                    input(type="submit" value="Envoyer")    
                    
                    
        else
            p="Désolé, on n'a rien trouvé à t'afficher"

    script(src="scripts/test.js")
