extends layout
block body
    p="test"
    header
        nav(style="max-width:1580px,text-align:center")
            div.row.align-items-left.py-2
                div.col-1
                    img(src="images/logo.png")
                div.col.2(style="text-align:left")
                    h4.text-muted.m-0="Bluedit"
                div.col.d-flex.justify-content-end

                    ul.nav.nav-pills
                        if (logged)
                            if (admin) 
                                p="Miko"
                            else
                                p="It's Lunatic Tiiiiiiime"
                        else
                            li.nav-item
                                a.nav-link.active(href="http://localhost:3000/authen")="Log in"
                            li.nav-item
                                a.nav-link.active(href="http//localhost:3000/inscription")="Sign up"

    section
        div.container.bg-light.py-5.text-center.mb-3
            h1="Recent posts"
        if (logged)
            div.container.bg-dark.text-light.py-3
                div.row
                    div.col-9.col-lg-9.text-align-center
                        if (TitleError)
                            p="Title error"
                        if (ContentError)
                            p="Content error"
                        form(action="/add",method="POST")
                            input(type="hidden",name="title",id="post_title",placeholder="Titre")
                            input(type="text",onclick="const title=document.getElementById('post_title');title.type='text';" name="post", id="post_content",placeholder="Quoi de neuf ?")
                            input(type="submit" value="Envoyer")
        if (posts)
            each lien in posts
                div.container.bg-dark.text-light.py-3(style="border-radius:4px;")
                    
                    div(style="width:40px")
                        p(style="margin-bottom:0px;padding-left:5px;margin-top:6px;float:left", id="votes"+lien.id+"0")=lien.votes
                        img(style="float: left;",src="images/upvote.png", onclick='sendVote('+lien.id+',0,1,1)', id=lien.id+'0U', alt="U")="U"
                        img(style="float: left;",src="images/downvote.png", onclick='sendVote('+lien.id+',0,0,0)', id=lien.id+'0D', alt="D")="D"
                    div(style="width:auto;padding-left:60px;background-color='#222222';")
                        div.row
                            p(style="font-size:10pt;margin-bottom:0px;")="posté par user il y a temps"
                        div.row
                            p(style="font-size:14pt;")=lien.Title
                        div.row
                            !{lien.Content}
                    




    script(type="text/javascript" src="scripts/test.js") 
